:javascript
  head.ready( function() {
    $('#date').datepicker(); 
  });


  

%form{ :action => "", :method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "permalink"} Address (lowercase):
        %input{:type => "text", :name => "permalink", :class => "text"}
      %li
        %label{:for => "date"} date:
        %input{:type => "text", :name => "date", :class => "text", :id => "date"}
        
    %input{:type => "submit", :value => "Send", :class => "button"}