!!!
%html
  %head
    %title Hello world
    %link{:rel=>'stylesheet', :href=>'/stylesheet.css', :type => "text/css"}    
    %script{ :src=>'/assets/javascripts/head.js', :type => "text/javascript"}       
  %body
    #content
      =yield